textarea.resize {
    resize: both;
}

textarea.resize-x {
  resize: horizontal;
}

textarea.resize-y {
  resize: vertical;
}

textarea.resize-n {
  resize: none;
}

.maxw-100 {
  max-width: 100%;
}

/* Fonts */

.ff-Caslon {
  font-family: CaslonAntique;
}

.ff-Caslon-bold {
  font-family: CaslonAntique-bold;
}

.ff-Caslon-bolditalic {
  font-family: CaslonAntique-bolditalic;
}

.ff-Caslon-italic {
  font-family: CaslonAntique-italic;
}

.ff-Script {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}