@font-face {
  font-family: "CaslonAntique";
  src: url("../fonts/CaslonAntique.ttf") format("truetype");
}

@font-face {
  font-family: "CaslonAntique-bold";
  src: url("../fonts/CaslonAntique.ttf") format("truetype");
}

@font-face {
  font-family: "CaslonAntique-bolditalic";
  src: url("../fonts/CaslonAntique.ttf") format("truetype");
}

@font-face {
  font-family: "CaslonAntique-italic";
  src: url("../fonts/CaslonAntique.ttf") format("truetype");
}