@import "Fonts";

.markdown {
  font-family: CaslonAntique;

  h1, h2, h3, h4, h5, h6 {
    font-family: "CaslonAntique-bold";
  }

  ol li {
    /* Needs solving
    list-style-image: url("../icons/arrow-right.svg");*/
    list-style-type: upper-roman;
  }

  ul li {
    /* Needs solving
    list-style-image: url("../icons/arrow-right.svg");*/
    list-style-type: circle;
  }

  code {
    border: 1px solid #282c34;
  }
}